<%-include("partials/header")-%>

<h1>Home</h1>
<p><%=homeStartingContent%></p>

<% postArray.forEach((item)=>{ %>
	<%-include("partials/blogPost", {
		title: item.postTitle,
		content: item.postContent,
		id: item._id})-%>
<% }) %>

<hr>
<button class="btn btn-success" id="compose-new-post"><a href="/compose">Compose New Post</a></button>

<%-include("partials/footer")-%>